body {
  font-family: 'Times New Roman', Times, serif
  background: white;
  color: black;
}

.box1 {
  background-color: #c43737;
}
.box2 {
  background-color: #da904b;
}
.box3 {
  background-color: #ddc53c;
}
.box4 {
  background-color: #43ad3f;
}
.box5 {
  background-color: #37be96;
}
.box6 {
  background-color: #4ec7c1;
}
.box7 {
  background-color: #477cc2;
}
.box8 {
  background-color: #3c3eb6;
}
.box9 {
  background-color: #9741b9;
}
.box10 {
  background-color: #9e1993;
}

.container {
  border: 10px solid #daa520;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  
}

.box {
  border: 1px solid var(--dark);
  color: var(--dark);
  flex: 1 1 calc(100% / 3);
  font-size: 3rem;
  padding: 0;
  text-align: left;
  
}
.p{
    overflow:scroll;
}
